@font-face {
    font-family: "monserrat";
    src: url(fonts/Montserrat-Light.ttf) format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: "monserrat";
    src: url(fonts/Montserrat-Medium.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: "monserrat";
    src: url(fonts/Montserrat-ExtraBold.ttf) format(truetype);
    font-weight: 900;
}