P{
color: red;
font-family: monserrat ;
font-size: 20pt;
font-weight: 100;
font-style: italic;
text-align: center ;
text-decoration: underline;
line-height: 1;
letter-spacing: 15px;
text-transform: uppercase;
text-shadow:0cqmax ;
}