
body{
    margin: 0;
}

.box1
{
    background: red;
    height: 150px;
    width: 130px;
    margin-top:  50px;
}

.box2
{
    background: red;
    height: 150px;
    width: 130px;
    margin-top:  50px;
}