div {
    background-color: blue;
    width: 100%;
    height: auto
}

h1 {
    text-align: center;
    text-size-adjust: AUTO;
    TEXT
}
 h2 {border: ; ;
    background-color: yellow;
    text-size-adjust: :auto;
 }
 in